<% content_for :sidebar_left do %>
<ul id="sidebar-items">
  <li>
    <form id="search" action="http://www.google.com/search" method="get">
      <input type="text" id="search-text" name="q" value="" />
      <input type="submit" value="Search" />
    </form>
  </li>      
  <li>
    <h3>Ideas</h3>
    <ul class="links">
      <li><a href="<%= new_idea_path %>">New</a></li>
      <li><a href="http://weblog.rubyonrails.org/">Official weblog</a></li>
      <li><a href="http://wiki.rubyonrails.org/">Wiki</a></li>
    </ul>
  </li>
	<% unless @categories.blank? %>
	  <li>
	    <h3>Categories</h3>
	    <ul class="links">
			<%= @categories.each do |category| %>
				<li><a href="<%= path_to(category) %>"><%= category.name %></a></li>
			<% end %>
	    </ul>
	  </li>
	<% end %>
</ul>
<% end %>
<h2>New idea</h2>

<% form_for(@idea) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', ideas_path %>