<%= render 'side_menu'%>

<div class="idea">
	<h2><%=h @idea.name %></h2>
	<% if current_user && current_user.has_access?(@idea) %>
		<span class="controls">
			<%= link_to 'edit', edit_idea_path(@idea) %> | 
			<%= link_to 'delete', @idea, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
		</span>
	<% end %>
	<span class="info">Created by <%= link_to h(@idea.creator.login), @idea.creator %> on <%= readable_date(@idea.created_at) %></span>

	<p class="body"><%=h @idea.body.gsub("\n", "<br />") %></p>
	<p><span class="bold">inspiration: </span><%=h @idea.inspiration %></p>
	<p><span class="bold">application: </span><%=h @idea.application %></p>
	<p><span class="bold">when to execute: </span><%=h @idea.when_to_execute %></p>
	<p><span class="bold">executed?: </span><%=h @idea.executed? %></p>
	<p><span class="bold">access: </span><%=h @idea.access %></p>
</div>