<%#= render 'side_menu'%>

<h2>Editing user</h2>

<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for(@user) do |f| -%>
	<p>
		<%= f.label 'login' %><br/>
		<%= f.text_field :login %>
	</p>
	<p>
		<%= f.label 'email' %><br/>
		<%= f.text_field :email %>
	</p>
	<!--<p>
		<%#= f.label 'current password' %><br/>
		<%#= f.password_field :current_password %> <span class="hint">Needed to update email or change password</span>
	</p>-->
	<p>
		<%= f.label 'new password' %><br/>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label 'password_confirmation', 'Confirm Password' %><br/>
		<%= f.password_field :password_confirmation %>
	</p>
  <p>
    <%= f.submit 'Update' %> <%= link_to 'cancel', @user %>
  </p>
<% end %>

