<%= render 'side_menu'%>
<h2>Editing category</h2>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>
	<p>
		<%= label_tag 'name' %><br/>
		<%= f.text_field :name %>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>