<%= render 'side_menu'%>

<div class="idea">
	<h2><%=h @category.name %></h2> 
	<span class="controls"><%= link_to 'edit', edit_category_path(@category) %> | <%= link_to 'delete', @category, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></span>

</div>
<ul>
	<% @ideas.each do |idea| %>
		<li><%= link_to h(idea.name), idea %></li>
	<% end %>
</ul>