<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
		<link href="/stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css" />
		<%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <div id="page">
			<div id="header">
				<h1><a href="<%= root_path %>">Idealogue</a></h1>
				<div id="user_menu">
					<% if logged_in? -%>
						Welcome, <span class="bold"><%= link_to h(current_user.login), user_path(current_user) %></span>
						[<%= link_to 'logout', logout_url %>]
				  <% else -%>
						<%= link_to 'login', new_session_path %> |
						<%= link_to 'signup', new_user_path %>
				  <% end -%>
				</div>
			</div>
			<div id="middle">
      	<div id="sidebar" class="left">
					<%= yield :sidebar_left %>
	      </div>
	      <div id="content">
					<% if flash[:notice] -%> 
			      <div id="notice"><%= flash[:notice] %></div> 
			    <% end -%> 
			    <% if flash[:error] -%> 
			      <div id="error"><%= flash[:error] %></div> 
			    <% end -%>
					<%= yield %>
	      </div>
			</div>
      <div id="footer">
				<div id="site_nav">
					<%= link_to 'about', about_path %>
					<%= link_to 'feedback', feedback_path %>
      	</div>
				<a href="http://madebylaw.com">{ l a w }</a>
      </div>
    </div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-11127801-1");
			pageTracker._trackPageview();
			} catch(err) {}
		</script>
  </body>
</html>